<link rel="stylesheet" href="{{ getUrl('cdn/swagg/css/imports.css') }}">
<script src="{{ getUrl('cdn/jquery/jquery-1.11.3.min.js') }}"></script>
<script>$(function () { window.__ = {}; __.appDir = '{{ getAppDir() }}'; })</script>
<script src="{{ getUrl('cdn/underscore/js/underscore.js') }}"></script>
<script src="{{ getUrl('cdn/swagg/js/helpers.js') }}"></script>
<script src="{{ getUrl('cdn/swagg/js/admin.js') }}"></script>

<style type="text/css">
    body {
        background-color: #e4e4e4;
    }

    h1 {
        font-family: impact;
        background-color: #ffefd7;
        margin: 1px 1px 30px;
        padding: 20px;
        border-bottom: 1px solid #efefef;
    }

    form {
        width: 350px;
        background-color: #fff;
        border-radius: 3px;
        padding: 50px 40px;
        margin: 30px auto;
        border: 1px solid #ccc;
    }

    form label {
        display: block;
    }

    form input {
        border-radius: 0!important;
        margin: 5px auto 30px auto
    }

    form [type="submit"] {
        border-radius: 0!important;
    }

    .fa-user-circle {
        font-size: 6em
    }
</style>

<form action="{{ path('_admins_auth') }}" method="post">
    <input type="hidden" name="_token" value="{{ csrf_token('login_token') }}">
    <span class="dp-table mg-auto text-center">
        <i class="fa fa-user-circle"></i>
    </span>
    <br>
    <div class="connexion-form-body">
        {% for loginError in app.flashes('loginError') %}
        <p class="alert alert-danger" style="border-radius:0;margin-bottom:0">
            <i class="fa fa-remove"></i>
            <b>{{ loginError|raw }}</b>
        </p>
        <br> {% endfor %}
        <label>
            <span>Email</span>
            <input name="email" value="demo@demo" type="email" required="required" class="form-control" placeholder="vous@exemple.org">
        </label>
        <label>
            <span>Mot de passe</span>
            <input name="password" type="password" required="required" value="admin" class="form-control" placeholder="********" />
            <a href="#" class="text-smoked hidden" style="float:right;font-size:10px;margin:5px 0;text-decoration:none;">oublié?</a>
        </label>
    </div>
    <footer style="margin-top:35px">
        <button type="submit" class="btn btn-lg btn btn-success btn-block">Connexion</button>
    </footer>
    <br>
    <p class="text-center">&copy;<a href="{{ getUrl() }}">{{ getEnv('APP_NAME') }}</a></p>
</form>

<script>
    $(function(){
        'use strict';
        var frame = $(frames.frameElement);
            __.winResize({
                onBound: function (el, win, params) {
                    frame.height(
                        win.innerHeight() - 200
                    );
                }
            });
    })
</script>