{{ include('@DovStoneBlogAdminBundle/partials/acf-join-issue-rows.html.twig') }}

{% if isREADING is defined %}

	{% include '@DovStoneBlogAdminBundle/partials/search.html.twig' with {'pathName':'_searchInACF', 'type': type} %}
	
	{% if acf_parent %}
		<a id="btn_add_acf" title="Ajouter {{ acf_parent.info.title_singular }}" class="hidden _mdl-btn _mdl-btn-add btn-xs btn-primary" data-active="acf/create" data-href="{{ path('_createACFBloggy', {'slug': acf_parent.slug}) }}"><i class="fa fa-plus"></i><span>Ajouter</span></a>
	{% else %}
		<a id="btn_add_acf" title="Ajouter ACF" class="hidden btn-primary" data-active="acf/create" data-href="{{ path('_createACFBloggy', {'slug': type}) }}"><i class="fa fa-plus"></i><span>Ajouter</span></a>
	{% endif %}

	{% if bloggy is empty %}
		<div>{{ getBundleEmptyListView() }}</div>
		{% else %}

		<div class="table-responsive">

			<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">

				<thead>
					<tr>
						<th data-minmax="20" class="text-center">N°</th>
						<th data-minmax="155" class="text-center">Actions</th>
						<th _data-minmax="250">Titre</th>
						<th hidden>Attribut <em>name</em></th>
						<th data-minmax="80" class="text-center">En ligne ?</th>
						<th data-minmax="130" class="text-center">Création</th>
					</tr>
				</thead>
				<tbody>
					{% for acf in bloggy %}
						<tr>
							<td class="text-center" data-indexify="0"></td>
							<td>
								<div class="table-actions cell-container">
									<div class="cell">
										<a data-undoable="{{ path('_deleteBloggy', {'id': acf.id}) }}" data-undoable-parent="tr" title="Supprimer" class="btn btn-xs btn-danger">
											<i class="fa fa-trash"></i>
										</a>
									</div>
									{% if acf.enabled == false %}
										{% set title = 'Publier' %}
										{% set cls = 'warning' %}
										{% set action = 'on' %}
									{% else %}
										{% set title = 'Mettre en relecture' %}
										{% set cls = 'success' %}
										{% set action = 'off' %}
									{% endif %}
									<div class="cell">
										<a data-load-href="{{ path('_onOffBloggy', {'action':action, 'id': acf.id}) }}" title="{{ title }}" class="btn btn-xs btn-{{ cls }}">
											<i class="fa fa-recycle"></i>
											<span hidden="hidden">{{ title }}</span>
										</a>
									</div>
									<div class="cell">
										<a data-href="{{ path('_updateACFBloggy', {'type': acf.type, 'id': acf.id}) }}" title="Modifier" class="btn btn-xs btn-info">
											<i class="fa fa-pencil"></i>
										</a>
									</div>
									<div class="cell">
										<a href="{{ getPostHref(fetchEager(acf, true)) }}?swagg" target="_blank" title="Construire" class="btn btn-xs btn-primary">
											<i class="fa fa-windows"></i>
										</a>
									</div>
								</div>
							</td>
							<td>{{ acf.info.title }}</td>
							<td hidden>{{ acf.slug }}</td>
							<td class="text-center">
								{% if acf.enabled == true %}
									<span class="on-off on">En ligne</span>
								{% else %}
									<span class="on-off off">Hors-ligne</span>
								{% endif %}
							</td>
							<td class="text-center">{{ acf.created|date("d/m/Y à H:i") }}</td>
						</tr>
					{% endfor %}
				</tbody>

			</table>

			<div class="dp-table mg-auto">
				{{ knp_pagination_render(bloggy_, getKnpTplPath()) }}
			</div>

		</div>
	{% endif %}

	
<script>
	$(function(){
		'use strict';

		_.delay(function(){
			initPhotoSwipeFromDOM('.thumbnail', {
				bgOpacity: .8
			});
		}, 3000);
	});
</script>

{% else %}

    <script type="text/javascript" src="{{ getCDN('swagg/plugins/files-browser/files-browser.js?v=' ~ random()) }}"></script>
    <script type="text/javascript" src="{{ getCDN('swagg/plugins/icons-browser/icons-browser.js?v=' ~ random()) }}"></script>
  	<script type="text/javascript" src="{{ getCDN('iconify/js/iconify.min.js') }}"></script>

    {{ form_start(form) }}
		{% set value = form.vars.value %}
		{% set info = value.info %}
		<input type="hidden" name="info[_acf]" value="{{ bloggy.id }}" />

		<div class="row">
			<div class="col-md-12">
                <div class="tile tile-full">
                    <h3 class="tile-title">Infos &amp; Référencement</h3>
                    <hr>
                    <div class="row">
						<div class="col-md-12">
							{#  #}
							<div class="field">
								<input required type="text" name="info[title]" value="{{ info.title ?? default_title }}">
								<label>Titre <em>(Sera affiché dans le navigateur)</em></label>
							</div>
						</div>

						{% if bloggy.info.inheritance is defined %}
							{% if bloggy.info.inheritance == 'article' %}
								<div class="col-md-8">

									{#  #}
									<div class="field">
										<select class="select2-basic" name="info[parent]" data-select-option="{{ info.parent ?? '' }}">
											{{ options.pages }}
										</select>
										<label>Page parent</label>
									</div>

									<div class="field half">
										<input type="text" name="_info[slug]" value="{{ value.slug ?? '' }}">
										<label>Slug</label>
									</div>
									{#  #}
									<div class="field half half-right">
										<input type="text" name="info[keywords]" value="{{ info.keywords ?? '' }}">
										<label>Mots-clés</label>
									</div>

									{#  #}
									<div class="field">
										<textarea style="resize:none" rows="4" name="info[description]">{{ info.description ?? '' }}</textarea>
										<label>Brève description</label>
									</div>
									{#  #}
									<label class="field">
										<input type="datetime-local" name="_info[created]" value="{{ value.created|date("Y-m-d\\TH:i") }}" max="{{ "now"|date("Y-m-d\\TH:i") }}">
										<label>Date de création</label>
									</label>
									{#  #}
								</div>
								<div class="col-md-4">
									<label class="switch">
										<input type="checkbox" name="info[_is_article]" {{info._is_article is defined and info._is_article == true ? 'checked' : ''}}>
										<b>Se comporter comme un Article</b>
									</label>
									{#  #}
									<label class="switch hidden">
										<input type="checkbox" _name="info[auth]" {{info.auth is defined and info.auth == true or info.auth is not defined ? 'checked' : ''}}>
										<b>Authentique</b>
									</label>
									<label class="switch">
										<input type="checkbox" name="info[comments]" {{info.comments is not defined or (info.comments is defined and info.comments == true) ? 'checked' : 'checked'}}>
										<b>Activer Commentaires</b>
									</label>
									{#  #}
									<label class="switch">
										<input type="checkbox" name="_info[enabled]" {{value.enabled is defined and value.enabled == true ? 'checked' : ''}}>
										<b>Publier</b>
									</label>
									<div class="field">
										<input
											data-onpageloaded="click" data-js="ACF={click:fileControl__previewPicked}"
											type="hidden"
											name="info[thumb]"
											value="{{ info.thumb ?? '' }}"
											data-info='{{ {'extension':'jpg', 'extended_filename':info.thumb ?? ''}|json_encode }}'
										/>
										<label>Image d'avant-plan</label>
										<div data-js="ACF={click:fileControl__getLibrary}" class="widget-preview-area is-empty">
											<a data-js="ACF={click:fileControl__removeFile}" title="Retirer"><i class="fa fa-trash"></i></a>
										</div>
									</div>
								</div>
							{% elseif bloggy.info.inheritance == 'page' %}
								<div class="col-md-8">
									{#  #}
									<div class="field">
										<select class="select2-basic" name="info[parent]" data-select-option="{{ info.parent ?? '' }}">
											{{ options.pages }}
										</select>
										<label>Page parent</label>
									</div>

									{#  #}
									<div class="field half">
										<input required type="text" name="info[title]" value="{{ info.title ?? '' }}">
										<label>Titre <em>(Sera affiché dans le menu)</em></label>
									</div>
									<div class="field half half-right">
										<input type="text" name="info[long_title]" value="{{ info.long_title ?? '' }}">
										<label>Second titre <em>(Sera affiché dans l'onglet du navigateur)</em></label>
									</div>

									{#  #}
									<div class="field half">
										<input type="text" name="_info[slug]" value="{{ value.slug ?? '' }}">
										<label>Slug</label>
									</div>
									<div class="field half half-right">
										<input type="text" name="info[customed_slug]" value="{{ info.customed_slug ?? '' }}">
										<label>Slug personnalisé</label>
									</div>

									{#  #}
									<div class="field half">
										<input type="text" name="info[keywords]" value="{{ info.keywords ?? '' }}">
										<label>Mots-clés</label>
									</div>
									<div class="field half half-right">
										<input type="number" min="0" name="info[rank]" value="{{ info.rank ?? 0 }}">
										<label>Rang dans un menu de navigation</label>
									</div>

									{#  #}
									<div class="field hidden">
										<input type="text" name="info[href]" value="{{ info.href ?? '' }}">
										<label>URL perso. <em>(Ex: domaine.com/#slug)</em></label>
									</div>

									{#  #}
									<div class="field">
										<textarea style="resize:none" rows="4" name="info[description]">{{ info.description ?? '' }}</textarea>
										<label>Brève description</label>
									</div>
								</div>
								<div class="col-md-4">
									{#  #}
									<label class="switch">
										<input type="checkbox" name="_info[enabled]" {{value.enabled is defined and value.enabled == true ? 'checked' : ''}}>
										<b>Publier</b>
									</label>
									<label class="switch">
										<input type="checkbox" name="info[in_menu]" {{info.in_menu is defined and info.in_menu == true ? 'checked' : ''}}>
										<b>Visible dans un menu</b>
									</label>

									{#  #}
									<label class="switch hidden">
										<input type="checkbox" name="info[auth]" {{info.auth is defined and info.auth == true ? 'checked' : ''}}>
										<b>Authentique</b>
									</label>
									<label class="switch">
										<input type="checkbox" name="info[comments]" {{info.comments is not defined or (info.comments is defined and info.comments == true) ? 'checked' : ''}}>
										<b>Activer Commentaires</b>
									</label>

									{#  #}
									<div class="field">
										<input data-onpageloaded="click" data-js="ACF={click:imageControl__previewPicked}" type="hidden" name="info[thumb]" value="{{ info.thumb ?? '' }}" />
										<label>Image d'avant-plan</label>
										<div data-js="ACF={click:imageControl__getLibrary}" class="widget-preview-area is-empty">
											<a data-js="ACF={click:imageControl__removeImage}" title="Retirer"><i class="fa fa-trash"></i></a>
										</div>
									</div>
								</div>
							{% endif %}
						{% endif %}

                    </div>
				</div>

				{% if bloggy.info.inheritance is defined and bloggy.info.inheritance == 'page' %}
				<div class="tile tile-full">
					<h3 class="tile-title">Layout</h3>
					<hr>
					<div class="row">
						<div class="col-md-12">
							{#  #}
							<div class="field">
								<select class="select2-basic" name="info[layout]" data-select-option="{{ info.layout ?? '' }}">
									{{ options.layouts }}
								</select>
								<label>Sélectionner un Layout</label>
							</div>
						</div>
					</div>
				</div>
				{% endif %}

			 	{{ getACFFormControls(bloggy.info.fields, bloggy_item ?? null) }}

			 	</div></div>
				{% if bloggy.info.inheritance is defined and bloggy.info.inheritance == 'page' %}
				<div class="tile tile-full">
					<h3 class="tile-title">Corps de la page</h3>
					<hr>
					<div class="row">
						<div class="col-md-12">
							{#  #}
							{% if value.id is not null %}
					            <a target="_blank" href="{{ getPostHref(fetchEager(value, true)) }}?swagg">Editer le corps de la page <strong><em>"{{ info.title }}"</em></strong></a>
				            {% else %}
				                <a>Vous devez dabord <u><strong>Enregister la page</strong></u> avant de pouvoir en rédiger le corps.</a>
				            {% endif %}
						</div>
					</div>
				</div>
				{% endif %}
      		</div>
  		</div>

		<div class="row">
			<div class="col-sm-12">{{ form_widget(form.submit) }}</div>
		</div>
  {{ form_end(form) }}
  
  <script>
	$(function(){

		'use strict';

		/*_.delay(function(){
			$('[name="info[title]"]').val('Mousseline Italienne');
			var fields = {
				'boutique': '355',
				'categorie': '595',
				'marque': '317',
				'designation': 'Mousseline Italienne',
				'description': 'Tissu mousseline Italienne Haute qualité, 3 mètres largeur double',
				'prix':'5000',
			};
			$.map(fields, function(v, n){
				$('textarea[name="info[acf][props]['+n+']"]').text(v);
				$('select[name="info[acf][props]['+n+']"]').find('option[value="'+v+'"]').attr('selected','selected').trigger('change');
				$('input[name="info[acf][props]['+n+']"]').attr('value', v).trigger('keyup');
			})
		}, 1000);*/

		__.summernote({
			el: $('.summernote-editor'),
			settings: {
			focus: true,
			lang: 'fr-FR',
			toolbar: [
				['his', ['undo', 'redo']],
				['style', ['style', 'fontname', 'fontsize']],
				['style', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript']],
				['color', ['color']],
				['para', ['ol', 'ul', 'paragraph']],
				['height', ['height']],
				['insert', ['link']],
				['clear', ['clear']],
				['mix', ['fullscreen', 'codeview']]
			]
			},
			onMounted: function (el) {
			}
		});
	})
  </script>

{% endif %}